<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		</head>
		<body>
			<nav>
	    		<ul>
				<li>Jennifer D. Wu</li>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
				<div style="float:left;">
			    <p class="eyebrow">Contact</p>
			
			    <p>
					Jennifer D. Wu<br>
					Library South G524 <br>
					Glenn G. Bartle Library<br>
			        Binghamton University<br>
			        <a href="mailto:jwu75@binghamton.edu">
			            jwu75@binghamton.edu
			        </a>
			    </p>
				</div>

				<div class="footer-right">
       			<p class="eyebrow">Misc.</p>
		        <p>
		            <a href="https://scholar.google.com/citations?hl=en&user=e5rE6dQAAAAJ">Google Scholar</a><br>
		        </p>
			    </div>
		
		    <div style="clear:both;"></div>	
			</footer>
		</body>
	</html>
