<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		</head>
		<body>
			<nav>
	    		<ul>
				<li>Jennifer D. Wu</li>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
			    <p class="footer-name">Jennifer D. Wu</p>
			
			    <p>
			        Department of Political Science<br>
			        Binghamton University<br>
			        Binghamton, NY
			    </p>
			
			    <p>
			        <a href="mailto:jwu75@binghamton.edu">
			            jwu75[at]binghamton.edu
			        </a>
			    </p>
			</footer>
		</body>
	</html>
